<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>用户接口请求量</title>
    </head>

    <body>
        <center>
            <center><h3 style="color: red">{{ params[0] + ' ' + params[3] + ' ' + '报警' }}</h3></center>
            <table width="600" cellspacing="0" cellpadding="0" border="2" align="center">
            <thead>
                <tr>
                    <th>机器</th>
                    <th>指标</th>
                    <th>状态</th>
                    <th>标记</th>
                </tr>
            </thead>
            <tr>
                <td align="center" valign="top" style="padding:10px;">{{ params[0] }}</td>
                <td align="center" valign="top" style="padding:10px;">{{ params[1] }}</td>
                <td align="center" valign="top" style="padding:10px;">{{ params[2] }}</td>
                <td align="center" valign="top" style="padding:10px;">{{ params[3] }}</td>
            </tr>
            </table>
        </center>
    </body>
</html>
